{$API_DOMAIN} {
	tls /certs/fullchain.pem /certs/privkey.pem

	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	handle_path /api/* {
		reverse_proxy api:3100
	}

	handle {
		reverse_proxy web:80
	}
}
